@use 'base/variables' as v;
@use 'base/mixins' as m;

.home-features {
    margin-block: 8rem;

    @include m.tablet { 
        margin-block: 12rem;
    }

    &--margin {
        @include m.tablet { 
            margin-block: 11.2rem;
        }

        @include m.tablet-xl { 
            margin-block: 16rem;
        }
    }

    &__grid {
        @include m.grid(1, 5.6rem);

        @include m.telefono { 
            max-width: 45.7rem;
            align-items: center;
            margin: 0 auto;
        }

        @include m.tablet { 
            gap: 8rem;
        }

        @include m.tablet-xl { 
            @include m.grid(3, 3rem);
            align-items: baseline;
            max-width: initial;
            row-gap: 10.4rem;
        }

        &--2 {
            @include m.tablet { 
                max-width: initial;
                @include m.grid(2, 1.1rem);
                row-gap: 7.2rem;
                align-items: baseline;
            }

            @include m.tablet-xl { 
                @include m.grid(3, 3rem);
                align-items: baseline;
                max-width: initial;
                row-gap: 10.4rem;
            }
        }
    }
}

.card {
    text-align: center;

    &:nth-child(2) &__imagen {
        @include m.tablet-xl { 
            margin-bottom: 6.6rem;
        }
    }

    &__imagen {
        margin-inline: auto;
        margin-bottom: 4.8rem;
        animation-name: updown;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    &__heading {
        margin-bottom: 1.6rem;
        color: v.$black;
    }

    &__padding {
        padding-right: 1rem;
    }


}