@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    padding-block: 2.8rem;
    height: 7.2rem;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;

    @include m.tablet { 
        padding-block: 1.6rem;
    }

    &__barra {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__burger-btn {
        width: 2rem;
        height: 2rem;
        background-image: url(../img/menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;

        &[aria-expanded="true"] {
            background-image: url(../img/close.svg);
        }

        @include m.tablet { 
            display: none;
        }
    }

    &__overlay {
        background-color: transparentize(v.$black, .5%);
        top: 7.2rem;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        opacity: 0;
        transition-property: opacity;
        transition-duration: .4s;

        @include m.tablet { 
            display: none;
        }

        &.activo {
            opacity: 1;
            position: fixed;

            @include m.tablet { 
                display: none;
            }
        }
    }
    
}

.contenido-nav {
    padding: 3.2rem;
    position: fixed;
    top: 7.2rem;
    left: 0;
    width: 100%;
    background-color: v.$white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform .3s;

    &[data-visible="true"] {
        transform: translateX(0%);

        @include m.tablet { 
            transform: translateX(0%);
        }
    }

    @include m.tablet { 
        transform: translateY(0%);
        padding: 0;
        position: initial;
        flex-direction: row;
        width: auto;
        background-color: transparent;
        flex: 1;
        justify-content: space-between;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding-bottom: 2rem;
        width: 31rem;
        border-bottom: 1px solid lighten(v.$black, 75%);

        @include m.tablet { 
            flex-direction: row;
            padding: 0;
            border: none;
            width: auto;
            gap: 3.7rem;
            margin: 0 auto;
        }
    }

    &__enlace {
        color: v.$black;
        text-transform: uppercase;
        line-height: 1.953rem;
        letter-spacing: .25rem;
        font-weight: 700;
        text-align: center;
        transition: color .4s;
    
        @include m.tablet { 
            font-size: 1.2rem;
            letter-spacing: .2rem;
            line-height: 1.5562rem;
        }

        &:hover {
            color: lighten(v.$black, 70%)
        }
    }

    &__boton {
        margin-top: 2rem;
        @include m.boton(v.$black, v.$white);

        @include m.tablet { 
            margin: 0;
        }
    }
}