@use 'base/variables' as v;
@use 'base/mixins' as m;

.compare-m {
    margin-bottom: 6.4rem;

    @include m.tablet { 
        display: none;
    }

    &__contenedor {
        padding-inline: 2.9rem;
        max-width: 39rem;
        margin: 0 auto 6.4rem auto;
    }

    &__tabla {
    }
    
    &__heading {
        color: v.$black;
        text-transform: uppercase;
        padding-bottom: 2.3rem;
        border-bottom: 1px solid black;
    }

    &__seccion {
        margin-top: 2.3rem;
    }

    &__heading-s {
        color: v.$black;
        text-transform: uppercase;
    }

    &__acceso {
        margin-top: 1.6rem;
        display: flex;
        padding-bottom: 2.4rem;
        border-bottom: 1px solid v.$lightGrey;
    }

    &__contenido {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        align-items: flex-start;

        &:nth-child(1) {
            margin-right: 6.8rem;
        }

        &:nth-child(2) {
            margin-right: 8rem;
        }
    }

    &__tipo {
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .167rem;
        line-height: 1.3rem;
        color: v.$black;
        opacity: .5;
        font-weight: 700;
    }
}